html
    head
        link(href='css/style.min.css')
    body
        include html/header
        main.page
            h1 Hello!
            img(src='@img/widebody-dodge-hellcat-4k-ug.jpg')
        include html/footer
        script(src='js/app.min.js')